:ruby
  colors = {
    red:    {main: "#861A1A", accent: "#2A8CE8"},
    green:  {main: "#105050", accent: "#FFCA1E"},
    purple: {main: "#6B1546", accent: "#1BE9A1"}
  }

:plain
  <!DOCTYPE html>
%html{ lang:'en' }
  %head
    %title sgtFloyd
    %meta{"http-equiv"=>'Content-Type', content:'text/html;charset=UTF-8' }
    %meta{ name:'description', content:'' }
    %link{ rel:'shortcut icon', href:'favicon.png' }

    %link{ rel:'stylesheet', type:'text/css', href:'http://fonts.googleapis.com/css?family=Telex' }
    %link{ rel:'stylesheet', type:'text/css', href:'style.css' }

    %script{ src:'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type:'text/javascript' }

    / Color Theme Styles
    %style{ type:'text/css' }
      - colors.keys.each do |color|
        :sass
          body.#{color}
            a
              color: #{colors[color][:accent]}
              &:hover
                color: #{colors[color][:main]}
            p
              strong
                color: #{colors[color][:main]}
              .summary
                color: #{colors[color][:main]}
            #web
              h2
                color: #{colors[color][:main]} 
              a:hover
                color: #{colors[color][:main]}
            #resume
              background: #{colors[color][:main]}
            #nav
              li
                a:hover
                  color: #{colors[color][:main]}

    / Color Theme Switching
    %script{ type:'text/javascript' }
      :plain
        $(document).ready(function() {
      - colors.keys.each do |color|
        :plain
            $('##{color}').click(function() {
              $(document.body).attr('class', '#{color}')
            });
      :plain
        });

  %body{ class: colors.keys.first }
    -# Nav Bar
    #nav
      .inner
        %ul
          %li
            %a{ href:'#about', title:'About Me' } About Me
          %li
            %a{ href:'#web', title:'Web Presence' } Web Presence
          %li
            %a{ href:'#resume', title:'Resume' } Resume
      .colors
        %ul
          - colors.keys.each do |color|
            %li
              %a{ id: color, href:'javascript:', style:"background:#{colors[color][:main]}" }

    -# About Me
    #about
      .inner
        %h2 About Me
        %p
          Lorem ipsum dolor sit amet,
          %a consectetur adipiscing elit.
          Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis,
          %a lacus sed varius rhoncus
          , turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc.
          Cras ante diam, venenatis
          %a eget feugiat nec
          , fermentum a massa. Pellentesque sit amet molestie ligula.

    -# Web Presence
    #web
      .inner
        %h2 Web Presence
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi.
          %a Aenean interdum
          tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut,
          %a interdum bibendum
          neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie
          %a ligula.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.

    -# Resume
    #resume
      .inner
        %h2 Resume
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi.
          %a Aenean interdum
          tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere.
          %a Vestibulum iaculis, lacus sed varius rhoncus,
          turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.

    -# Footer
    #footer
      .inner
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci,
        %a
          ac posuere mi.