:ruby
  dark = "#303030"
  light = "#FEFEFE"
  # accent colors
    acqua = "#036564" # colourlovers.com/palette/292482
    creep = "#D6156C" # colourlovers.com/palette/663167
    shirt = "#CBE86B" # colourlovers.com/palette/359978

  colors = {
    white: {primary: light, secondary: dark, accent: creep},
    black: {primary: dark, secondary: light, accent: creep}
  }

:plain
  <!DOCTYPE html>
%html{ lang:'en' }
  %head
    %title sgtFloyd
    %meta{"http-equiv"=>'Content-Type', content:'text/html;charset=UTF-8' }
    %meta{ name:'description', content:'' }
    %link{ rel:'shortcut icon', href:'favicon.png' }

    %link{ rel:'stylesheet', type:'text/css', href:'http://fonts.googleapis.com/css?family=Telex' }
    %link{ rel:'stylesheet', type:'text/css', href:'style.css' }

    %script{ src:'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type:'text/javascript' }

    / Color Theme Styles
    %style{ type:'text/css' }
      - colors.keys.each do |color|
        - primary, secondary, accent = colors[color].values
        :sass
          body.#{color}
            background: #{primary}
            a
              color: #{accent}
            #nav
              li a
                color: white
                &:hover
                  color: #{accent}
            #header, #footer
              background: #{primary}
              color: #{secondary}
              a:hover
                color: #{secondary}
            #web
              background: #{secondary}
              color: #{primary}
              a:hover
                color: #{primary}

    / Color Theme Switching
    %script{ type:'text/javascript' }
      :plain
        $(document).ready(function() {
      - colors.keys.each do |color|
        :plain
            $('##{color}').click(function() {
              $(document.body).attr('class', '#{color}')
            });
      :plain
        });

  %body{ class: colors.keys.first }
    -# Nav Bar
    #nav
      .inner
        %ul
          %li
            %a{ href:'#about', title:'About Me' } About Me
          %li
            %a{ href:'#web', title:'Web Presence' } Web Presence
      .colors
        %ul
          - colors.keys.each do |color|
            %li
              %a{ id: color, href:'javascript:', style:"background:#{colors[color][:primary]}" }

    -# About Me
    #header
      .inner
        %h2 About Me
        %p
          Lorem ipsum dolor sit amet,
          %a consectetur adipiscing elit.
          Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis,
          %a lacus sed varius rhoncus
          , turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc.
          Cras ante diam, venenatis
          %a eget feugiat nec
          , fermentum a massa. Pellentesque sit amet molestie ligula.

    -# Web Presence
    #web
      .inner
        %h2 Web Presence
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi.
          %a Aenean interdum
          tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut,
          %a interdum bibendum
          neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie
          %a ligula.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci, ac posuere mi. Aenean interdum tortor at diam pellentesque cursus. Fusce mollis orci quis eros ultrices posuere. Vestibulum iaculis, lacus sed varius rhoncus, turpis metus accumsan dolor, ac fermentum augue dui sit amet mi. Praesent ornare rutrum ante non suscipit. Fusce lorem ipsum, fermentum quis mattis ut, interdum bibendum neque. Integer felis sem, aliquam eget fermentum vitae, pellentesque eu nunc. Cras ante diam, venenatis eget feugiat nec, fermentum a massa. Pellentesque sit amet molestie ligula.

    -# Footer
    #footer
      .inner
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor lacus orci,
        %a
          ac posuere mi.